.mainHeader {

  align-items: centre;
  background-color: #282727;
  background-image: url('https://raw.githubusercontent.com/emomonkey/classic-game-trivia/main/src/assets/images/titlebarbckgrnd.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.headerText {
  font-size: 24px;
  margin-left: 10px;
}

.gitLogo {
  background-image: url('https://raw.githubusercontent.com/emomonkey/classic-game-trivia/main/src/assets/images/github.png');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.spacer {
  flex-grow: 1;
}

.link {
  margin-left: 20px;
  color: white;
  text-decoration-color: white;
}
